body {
  
    margin: 0;
    padding: 0;
    background-color: #B0E0E6;
    height: 100vh;
  }

 #navbar {
    
    
    height: 50px;
    border: 1px solid rgb(105, 97, 97);
    background-color: rgb(105, 97, 97);
  }
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  
  input {
    padding:10px;
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border-radius: 0 !important;
  }
  
  .form-control {
    border-radius: 0 !important;
    font-size: 12x;
  }
  
  .clickable { cursor: pointer; }

  #box .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 370px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
 


  #box .container #login-row #login-column #login-boxmain {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  

  #box .container #login-row #login-column #register-box {
    margin-top: 120px;
    max-width: 600px;
    height: 395px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }


  #box .container #login-row #login-column #termindelete-box {
    margin-top: 120px;
    max-width: 600px;
    height: 200px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }

  #box .container-fluid #login-row #login-column #vorlesungoverview-box {
    margin-top: 120px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    width:auto;
    height:auto;

   
    
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }


  #box .container-fluid #login-row #login-column #vorlesungspezifisch-box {
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    width:auto;
    height:auto;

   
    
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }


  #box .container-fluid #login-row #login-column #dateinput-box {
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    width:1500px;
    height:auto;

   
    
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  
  